# Default profile
MS_CAPACIDAD_PROFILE_ACTIVE=dev

MS_CAPACIDAD_R2DBC_HOST=
MS_CAPACIDAD_R2DBC_PORT=
MS_CAPACIDAD_R2DBC_DATABASE=
MS_CAPACIDAD_R2DBC_SCHEMA=
MS_CAPACIDAD_R2DBC_USERNAME=
MS_CAPACIDAD_R2DBC_PASSWORD=

CORS_ALLOWED_ORIGINS=

MS_CAPACIDAD_REST_CONSUMER_URL=
